@charset 'utf-8';
/* -----------------------------------
	setPrefix
-------------------------------------- */
@mixin setPrefix($property, $value){
	@each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
		#{$prefix}#{$property}: $value;
	}
}

/* -----------------------------------
	clearfix
-------------------------------------- */
@mixin clearfix{
	&::after {
		display: table;
		clear: both;
		content: '';
	}
}

/* -----------------------------------
	tools
-------------------------------------- */
@mixin img-repl($width, $height, $image) {
	font-size: 0;
	overflow: hidden;
	width: $width;
	height: $height;
	white-space: nowrap;
	text-indent: 100%;
	background: url($image) 0 0 no-repeat;
}

